.admin {
    .aturUndangan {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 1rem 0;

      .cards_single {
        width: 100%;
      }
    }
}