.design01__container {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Times New Roman",Times,serif;
  }

  html {
    scroll-behavior: smooth;
  }

  h1 {
    font-size: 88px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  span {
    font-size: 14px;
  }

  li {
    list-style: none;
  }

  i {
    font-size: 28px;
  }

  a {
    text-decoration: none;
  }

  .font-segoe-ui {
    font-family: "Segoe UI","Times New Roman",Times,serif;
  }

  .font-dancing-script {
    font-family: "Dancing Script","Times New Roman",Times,serif;
  }

  .font-times-new-roman {
    font-family: "Times New Roman",Times,serif;
  }

  .container {
    width: 95%;
    max-height: fit-content;
    margin: 0 auto;
  }

  .save-the-date-container {
    margin-top: 100px;
  }

  .text-center {
    text-align: center;
  }

  .circle-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;

    @media screen and (max-width: 765px) {
      max-width: 30vw;
      max-height: 30vw;
    } 
  }

  section {
    padding: 2em 0;
  }

  .title {
    font-family: "Dancing Script","Times New Roman",Times,serif;
    text-align: center;
    font-size: 2rem!important;
    font-weight: normal;
    margin-bottom: 0.5em;
  }

  .btn {
    width: 30%;
    background-color: #E6A83A;
    border-radius: 5px;
    padding: 15px 40px;
    color: #FFF;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: "Segoe UI";
  }

  .d-block {
    display: block;
  }

  .d-none {
    display: none;
  }

  
  .bgsoundMp3-container {
    position: fixed;
    background: #5F7496;
    border-radius: 50%;
    padding: 12px;
    z-index: 2;
    right: 20px;
    top: 50%;
    padding: 10px;
  }

  .bgsound-container {
    width: 100%;
    max-width: fit-content;
    z-index: 2;
    max-height: 100px;
    overflow: hidden;

    iframe {
      margin-top: -50px;
      border-radius: 20px;
    }

    @media screen and (max-width: 768px) {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 53px;
      width: 100vw;
      max-width: 100vw;
      z-index: 2;
      max-height: 90px;
      overflow: hidden;

      iframe {
        margin-top: -55px;
        border-radius: 20px;
        min-width: 100vw;
      }
    }
  }

  .bgsoundmp3-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: #5F7496;
    z-index: 2;
    right: 16px;
    top: 30vh;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;

    svg {
      width: 18px;
      color: #fff;
    }

    div {
      z-index: 3;
    }
  }


  .two {
    @media screen and (max-width: 768px) {
      img {
        width: 120px;
        height: 120px;
      }
    }
  }

  .three {
    @media screen and (max-width: 768px) {
      img {
        width: 120px;
        height: 120px;
      }
    }
  }

  .text-opening {
    width: 500px;
    margin: 0 auto;
    margin-top: 24PX;

    @media screen and (max-width: 768px) {
      max-width: 85vw,
    }
  }

  .save-theDate-text {
    font-size: 42px;
    
    @media screen and (max-width: 768px) {
      font-size: 32px;
    }
  }

  .save-theDate-button {
    align-items: center;
    justify-content: center;
    background: #E6A83A;
    border-radius: 4px;
    padding: 8px 16px;
    border: none;
    margin-top: 16px;
    font-size: 24px;
    min-width: 100px;
    max-width: 80vw;
    color: #FFF;
    cursor: pointer;

    &:hover {
      opacity: .8,
    }
  }
  
  .bgsound-container svg {
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 0;
  }

  .main-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background: #FFF;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    max-height: 100px;
  }

  .main-nav .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px
  }

  .main-nav img {
    width: 100%;
    max-width: 30px;
  }

  .main-nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 8px 0;
  }

  .main-nav a:hover {
    background: #E6A83A;
  }

  .guest-section p {
    margin: 20px 0 25px 0;
    line-height: 1.5em;
    letter-spacing: 1px;
  }

  .banner {
    width: 100%;
    padding: 200px 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    position: relative;

    @media screen and (max-width: 768px) {
      height: 100vh;
    }
  }

  .banner .shape-top {
    position: absolute;
    top: -1px;
    width: 100%;
  }

  .banner > svg {
    height: 20px;
    width: 100%;
  }

  .banner .shape-fill {
    fill: #FFF;
  }

  .banner img {
    width: 100%;
    max-width: 25%;
  }

  .banner h1 {
    margin-bottom: 0.5em;
  }

  .banner .shape-bottom {
    position: absolute;
    bottom: -5px;
    width: 100%;
  }

  .banner .shape-bottom svg {
    transform: rotate(180deg);
  }

  .just-married img {
    margin-bottom: 20px;
    max-width: 100%;
  }

  .just-married .font-dancing-script {
    font-size: 1.8rem;
  }

  .just-married p {
    margin-bottom: 20px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-header {
    text-align: center;
  }

  .card-body {
    width: 100%;
    background: #FFF;
    padding: 15px;
    border-radius: 15px;
    color: #000;
    text-align: left;
    opacity: .8;
    margin-top: 50px;
  }

  .save-the-date {
    height: fit-content;
    padding: 5em 0;

    @media screen and (max-width: 768px) {
      height: 1500px;
    }
  }

  .user_name > input {
    background: #F0F0F0;
  }

  .gift_onlineContainer {
    margin-bottom: 48px;
    border-top: 1px solid #F0F0F0;
    padding-top: 32px;
    margin-top: 32px;
  }

  .reception_date {
    font-size: 24px;
    background: #E6A83A;
    color: #FFF;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .giftOnlinePage_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 16px;
    
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    button {
      margin-top: 16px;
    }

    img {
      max-width: calc(100vw - 32px);
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  .gift_thankYouTextPage {
    width: 400px;
    max-width: calc(100vw - 32px);
  }

  .gift_sendTransferBtnPage {
    width: 100px;
    max-width: 80vw;
  }

  .save-the-date-gif {
    margin-bottom: 20px;
  }

  .save-the-date .date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
  }

  .save-the-date .card-header {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .save-the-date .card-header img {
    width: 100%;
    max-width: 10%;
  }

  .save-the-date .card-header h3 {
    font-size: 28px;
    font-weight: normal;
  }

  .save-the-date .card-body {
    width: 90%;
  }

  .save-the-date .card-body li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .save-the-date .card-body li:last-child {
    margin-bottom: 0;
  }

  .save-the-date .card-body li i {
    margin-right: 10px;
  }

  .save-the-date .map {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    border-radius: 20px;
    overflow: hidden;
  }

  .save-the-date .map iframe {
    width: 100%;
    height: 100%;
  }

  .countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .countdown-container {
    display: flex;
  }

   .countdown-container div {
    background: #FFF;
    color: #000;
    margin: 0 10px;
    padding: 5px 10px;
    position: relative;
    border-radius: 15px;
    font-size: 2rem;
  }

   .countdown-container div:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 5px;
    color: #FFF;
    font-size: 0.8rem;
  }

  .countdown-container div#day:before {
    content: "HARI";
  }

  .countdown-container div#hour:before {
    content: "JAM";
  }

  .countdown-container div#minute:before {
    content: "MENIT";
  }

  .countdown-container div#second:before {
    content: "DETIK";
  }

  .countdown p {
    margin-bottom: 5px;
  }

  .gallery img {
    width: 100%;
    transition: 300ms;

    iframe {
      margin-top: 16px;
    }
  }

  .gallery p {
    margin-bottom: 1em;
  }

  .story {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/img/7.jpeg);
    height: auto;
  }

  .story p {
    margin: 1.5em 0;
  }

  .story .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #FFF;
    right: -8px;
    top: 22px;
    border-radius: 50%;
  }

  .story .timeline {
    margin-top: 4em;
  }

  .story ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .story li {
    margin: 0 50% 0 0;
    position: relative;
  }

  .story li:before {
    content: "";
    position: absolute;
    right: 0px;
    height: 100%;
    border-left: 1px solid #FFF;
  }

  .story li:nth-child(2n) {
    margin: 0 0 0 50%;
  }

  .story li:nth-child(2n):before {
    right: auto;
    left: -1px;
  }

  .story li:nth-child(2n) .dot {
    right: auto;
    left: -8px;
  }

  .story li:nth-child(2n) .card-body:before {
    right: auto;
    left: -10px;
  }

  .story li:nth-child(2n) .card {
    margin: 0 0 0 40px;
  }

  .story .card {
    margin: 0 40px 0 0;
  }

  .story .card-body {
    border-radius: 0;
    padding: 20px 50px;
    text-align: center;
    position: relative;
  }

  .story .card-body:before {
    content: "";
    position: absolute;
    background: #FFF;
    width: 20px;
    height: 20px;
    top: 20px;
    right: -10px;
    transform: rotate(-45deg);
  }

  .story .card-body h3 {
    margin-bottom: 20px;
  }

  .contact .form-control {
    width: 100%;
  }

  .contact .form-control input,.contact .form-control textarea {
    width: 100%;
    padding: 10px;
    font-family: "Segoe UI","Times New Roman",Times,serif;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
  }

  .contact .btn {
    width: 100%;
    padding: 5px;
    font-weight: normal;
  }

  .contact .comment {
    width: 100%;
    height: fit-content;
    max-height: 400px;
    overflow-y: auto;
  }

  .contact .comment-user {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .contact .comment-user img {
    width: 35px;
    margin-right: 20px;
  }

  .contact .comment-body {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
  }

  .contact .comment-body .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .contact .comment-body span {
    font-size: 1.2rem;
  }

  .contact .comment-body span:last-child {
    font-size: 0.9rem;
  }

  .contact .comment-body p {
    font-size: 0.9rem;
  }

  .ourWedding_img {
    width: 250px !important;
  }

  .galleryContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
    margin-bottom: 16px;
    
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  footer {
    background: #000;
    color: #FFF;
    padding: 32px 0 120px 0;
    
    @media screen and (max-width: 768px) {
      padding: 32px 0 200px 0;
    }
  }

  .bismillah_text {
    @media (max-width:768px) {
      font-size: 20px !important;
    }

  }
  @media (max-width:768px) {
    h1 {
      font-size: 42px;
    }

    h2 {
      font-size: 32px;
    }

    p {
      font-size: 16px;
    }

    .banner img {
      max-width: 50%;
    }

    .save-the-date .date {
      flex-direction: column;
    }

    .save-the-date .card {
      margin-bottom: 20px;
    }

    .save-the-date .card-body p {
      font-size: 16px;
    }
    
    .time_reception {
      font-size: 18px !important;
      font-weight: 500;
    }

    .save-the-date .card-header img {
      max-width: 20%;
      margin-bottom: 20px;
    }

    .story .timeline {
      margin-top: 100px;
    }

    .story .card,.story li,.story li:nth-child(2n),.story li:nth-child(2n) .card {
      margin: 0;
    }

    .story li,.story li:nth-child(2n) {
      margin-bottom: 65px;
    }

    .story li:last-child {
      margin-bottom: 0;
    }

    .story li:before,.story li:nth-child(2n):before {
      right: auto;
      left: 50%;
      top: -65px;
    }

    .story .card-body:before,.story li:nth-child(2n) .card-body:before {
      right: auto;
      left: 50%;
      top: -10px;
      margin-left: -9px;
    }

    .story .dot,.story li:nth-child(2n) .dot {
      right: auto;
      left: 50%;
      top: -40px;
      margin-left: -7px;
    }

    .main-nav img {
      max-width: 20%;
    }
  }
}